/*Global Stlying */


body {
	font-family: Open Sans, sans-serif;
	font-size: 100%;
    

}

h1 {
	font-family: Libre Baskerville, serif;
}

h2 {
	font-family: Libre Baskerville, serif;
}

p {
    font-size: 100%;
}



img{
	/*eight: 150px;
	width: 150px;*/
	display: block;
    margin-left: auto;
    margin-right: auto;
    

}





/*Section Styling */

/*#top {
    background-color: #ffffff;
    height: 5em;
    position: fixed;
    top: 0px;
    width: 100%;
}

#banner {
    background-color: #addd8e;
    color: #ffffff;
    height: 5em;
    width: 100%;
}

#banner > h1 {
	font-family: Libre Baskerville, serif;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fec44f;
    text-align: center;
    margin: auto;
    max-width: 1000px;

}

li {
    display: inline-block;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #d95f0e;
}

.active {
    background-color: #4CAF50;
}

/*#navbar{
	text-align: center;
    background-color: #feb24c;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 1.25em;
    height: 2em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    display: block;
    width: 1000px;


    
}*/



#container {
	width: 100%;
}

#content {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #ffffff;

}

/*Styling for the food page: */

.right_food {

    float: right;
    margin-bottom: 10em;
}

.left_food {

    float: left;
    margin-bottom: 10em;

}

.left_par {

    float: left;

}

.right_par {
    
    float: right;

}

.left_des {

    text-align: left;
    width: 12%;

}

.right_des {

    display: inline-block;
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    width: 30%;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    background: #c8c7a8;

    border-radius: 15px;


}

textarea  {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 12%;
    width:400px; 
    height: 500px;
    padding: 8px;



    float:right;
    font-size: 1.05em;

}

/*#center {
	display: inline-block;
	width: 68%;
	padding-top: 2.5em;
}

#center > h1 {
	font-size: 125%;
	margin-bottom: 0;

}

#center > h2 {
	font-size: 100%;
	margin-top: 2em;
	margin-bottom: 0;
}

#center > p {
	margin-top: 0;
}*/
